.container {
    width: 100%;
    height: 64px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0px;
    z-index: 10;
    display: flex;
}
.logo {
    cursor: pointer;
    padding-top: 15px;
    margin-left: 30px;
}
.sidebarToggleBtn {
    height: 50px;
    width: 50px;
    margin: 10px 10px;
    cursor: pointer;
    display: none;
}

.mlAuto {
    margin-left: auto;
}

.userMenuBtn {
    height: 30px;
    width: 30px;
    margin: 20px 10px 0px 0px;
    cursor: pointer;
}
.subMenuIcons {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    fill: #384e68 !important;
}
.subMenuSpan {
    margin-top: 5px;
    color: #384e68;
}
.sidebar {
    z-index: 9999;
}
.menuPosition {
    top: 40px !important;
    right: 40px !important;
}
.relative {
    position: relative;
}

.noOfleaves {
    color: #fff;
    background-color: #a71d2a;
    height: 20px;
    display: flex;
    padding: 0 6px;
    z-index: 1;
    position: absolute;
    flex-wrap: wrap;
    font-size: 0.75rem;
    min-width: 20px;
    box-sizing: border-box;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1;
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    top: 22px;
    right: 30px;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

.blink_me {
    animation: blinker 1s linear infinite;
    padding: 2px;
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    right: 7px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

//************************IPAD***********************//
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .sidebarToggleBtn {
        display: block;
    }
}

//************************Phone***********************//

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .sidebarToggleBtn {
        display: block;
    }
}
